In [1]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv('HR_Analytics.csv')

df.head()

EmpID
Age
AgeGroup
Attrition
BusinessTravel
DailyRate
Department
DistanceFromHome
Education
EducationField
EmployeeCount
EmployeeNumber
EnvironmentSatisfaction
Gender
HourlyRate
JobInvolvement
JobLevel
JobRole
JobSatisfaction
MaritalStatus
MonthlyIncome
SalarySlab
MonthlyRate
NumCompaniesWorked
Over18
OverTime
PercentSalaryHike
PerformanceRating
RelationshipSatisfaction
StandardHours
StockOptionLevel
TotalWorkingYears
TrainingTimesLastYear
WorkLifeBalance
YearsAtCompany
YearsInCurrentRole
YearsSinceLastPromotion
YearsWithCurrManager

In [18]:
#Total employees

df['EmpID'].count()

1480

In [45]:
#Average of Yearly Salary

round(df['MonthlyIncome'].mean() * 12, 1)

6505.0

In [48]:
#Average age

round(df['Age'].mean(),1)

36.9

In [99]:
#Average job satisfaction

round(df['JobSatisfaction'].mean(),1)

2.7

In [51]:
#Average years at company by job role

df.groupby('JobRole')['YearsAtCompany'].mean().sort_index().round(1)

JobRole
Healthcare Representative     8.4
Human Resources               5.3
Laboratory Technician         5.0
Manager                      14.4
Manufacturing Director        7.6
Research Director            10.9
Research Scientist            5.1
Sales Executive               7.5
Sales Representative          2.9
Name: YearsAtCompany, dtype: float64

In [55]:
#Average working years by department/job level

df.groupby(['Department', 'JobLevel'])['YearsAtCompany'].mean().round(1)

Department              JobLevel
Human Resources         1            4.1
                        2            6.5
                        3            9.3
                        4           19.8
                        5           14.3
Research & Development  1            4.1
                        2            7.1
                        3            9.7
                        4           12.5
                        5           14.4
Sales                   1            2.6
                        2            6.4
                        3            8.8
                        4           16.1
                        5           18.4
Name: YearsAtCompany, dtype: float64

In [9]:
#Total attrition

df['Attrition'].replace({'Yes': 1, 'No': 0}).sum()

238

In [21]:
#Attrition rate (%)

round((df['Attrition'].replace({'Yes': 1, 'No': 0}).mean()) * 100, 1)

16.1

In [67]:
#Which department has the highest attrition rate?

round(df.replace({'Attrition': {'Yes': 1, 'No': 0}}).groupby('Department')['Attrition'].mean().sort_values(ascending = False),2).head(1)

Department
Sales    0.21
Name: Attrition, dtype: float64

In [86]:
#Attrition rate % by overtime

(round(df.replace({'Attrition': {'Yes': 1, 'No': 0}}).groupby('OverTime')['Attrition'].mean(),2))*100

OverTime
No     10.0
Yes    31.0
Name: Attrition, dtype: float64

In [90]:
#Average distance from home vs. attrition

round(df.groupby('Attrition')['DistanceFromHome'].mean(),2)

Attrition
No      8.94
Yes    10.71
Name: DistanceFromHome, dtype: float64

In [96]:
#Correlation between job satisfaction and attrition

round(df['JobSatisfaction'].corr(df['Attrition'].replace({'Yes': 1, 'No': 0})),3)

-0.104

In [100]:
#Sum of environment satisfaction by department

df.groupby('Department')['EnvironmentSatisfaction'].sum()

Department
Human Resources            164
Research & Development    2632
Sales                     1237
Name: JobSatisfaction, dtype: int64

In [103]:
#Top performers by department and their average satisfaction

round(df[df['PerformanceRating'] == df['PerformanceRating'].max()].groupby('Department')['JobSatisfaction'].mean(),1)

Department
Human Resources           2.8
Research & Development    2.7
Sales                     2.8
Name: JobSatisfaction, dtype: float64

In [106]:
#Top Earners (emp_id) by job role

df.loc[df['MonthlyIncome'] == df.groupby('JobRole')['MonthlyIncome'].transform('max'), ['JobRole', 'EmpID', 'MonthlyIncome']]

In [108]:
#Who are the most experienced and paid above average income employees?

df[(df['TotalWorkingYears'] == df['TotalWorkingYears'].max()) & (df['MonthlyIncome'] > df['MonthlyIncome'].mean())]

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1452,RM127,58,55+,Yes,Travel_Rarely,147,Research & Development,23,4,Medical,...,4,80,1,40,3,2,40,10,15,6.0
1455,RM596,58,55+,Yes,Travel_Rarely,286,Research & Development,2,4,Life Sciences,...,4,80,0,40,2,3,31,15,13,8.0

In [112]:
#MonthlyIncome vs. SalarySlab — any inconsistencies?

round(df.groupby('SalarySlab')['MonthlyIncome'].mean().sort_index(),2).sort_values()

SalarySlab
Upto 5k     3190.84
5k-10k      6836.95
10k-15k    11914.51
15k+       18059.36
Name: MonthlyIncome, dtype: float64

In [114]:
#Distribution of Education Field by Department

df.groupby('Department')['EducationField'].value_counts()

Department              EducationField
Human Resources         Human Resources      27
                        Life Sciences        16
                        Medical              13
                        Technical Degree      4
                        Other                 3
Research & Development  Life Sciences       441
                        Medical             368
                        Technical Degree     94
                        Other                64
Sales                   Marketing           161
                        Life Sciences       150
                        Medical              89
                        Technical Degree     34
                        Other                16
Name: count, dtype: int64

In [116]:
#Training effectiveness analysis

round(df.groupby('TrainingTimesLastYear')['JobSatisfaction'].mean(),1)

TrainingTimesLastYear
0    2.9
1    2.7
2    2.8
3    2.6
4    2.8
5    2.7
6    2.9
Name: JobSatisfaction, dtype: float64